{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "no-console": [0, { allow: ["warn", "error"] }],
        "prop-types" : [0, {} ],
        "ecmaFeatures": {
            "jsx": 1,
        }
    },
    "plugins": [
        "react",
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "comma-dangle" : 0,
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "0.14.8"
        }
    },
    "globals": {
        "global":1,
        "window": 1,
        "require" : 1,
        "describe" : 1,
        "it" : 1,
        "expect" : 1,
        "module" : 1,
        "__dirname" : 1
    }
}
